.choices__label {
  display: none;
}
.choice {
  background-color: lightgrey;
}
.choice:focus {
  outline-color: transparent;
  outline-style: none;
}
.choice.choice--selected {
  background-color: red;
  color: white;
}
.choice.choice--hovered {
  border: 2px solid lightblue;
}
.choice.choice--focused, .choice:focus {
  border: 2px solid lightgreen;
}
