.choice {
  background-color: lightgrey;
}
.choice.choice__selected {
  background-color: red;
  color: white;
}
.choice.choice__hovered {
  border: 2px solid lightblue;
}
.choice.choice__focused {
  border: 2px solid lightgreen;
}
